<div class="navigation">
    <div class="instalogo">
        <a class="" href='/' ><i class ="fab fa-instagram"></i></a>
        <a class="v1" href="/" ></a>
        <a href="/">Instagram</a>
    </div>
    <div class="search_bar" role="search",action="{%url 'search_results'%}">
        <input type="text" placeholder="search" class="form-control",name="search_instagram">
        <a class= "search" href=''><i fas fa-search></i></a>
    </div>
    <div class='contact_icons'>
        <a class='explore' href='/'><i class="far fa-compass"></i></a>
        <a class='likes' href='/'><i class="far fa-heart"></i></a>
        <a class='profile' href='/'><i class="far fa-user"></i></a>
    </div>
</div>